@{ 
 ViewData["Title"] = "Inicio";
 }
<h2>@ViewData["Title"]</h2>
<br />
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Bienvenido a CuidApp!</h4>
    <p>la App que se preocupa por ti y por los tuyos.</p>
</div>
<br />
<p class="text-lowercase">Lea nuestras recomendaciones.</p>
<div class="list-group">
    <div class="list-group-item list-group-item-action ">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">¿Cómo acabar con la tos?</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">
            La tos juega un papel fundamental en la eliminación de los elementos
            irritantes e infecciosos del cuerpo, pero puede resultar muy molesta.
            El mejor tratamiento para la tos dependerá de la causa subyacente.
            Existen muchas posibles causas, entre las que se incluyen las alergias,
            las infecciones y el reflujo ácido..
        </p>
        <a target="_blank" rel="noopener noreferrer" href="https://www.medicalnewstoday.com/articles/es/324001" class="btn btn-primary stretched-link">Leer mas..</a>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Remedios naturales para la gastritis</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">
            gastritis se refiere a la inflamación del recubrimiento del estómago,
            así que consumir una dieta que ayude a minimizar la inflamación
            puede proporcionar alivio con el tiempo.
            Sin embargo, la investigación no ha demostrado de manera concluyente
            que comer una dieta determinada causa o previene la gastritis...
        </p>
        <a target="_blank" rel="noopener noreferrer" href="https://www.medicalnewstoday.com/articles/es/326691" class="btn btn-primary stretched-link">Leer mas..</a>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Fiebre: primeros auxilios</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">
            La fiebre es un aumento de la temperatura corporal.
            Por lo general, es un signo de infección.
            La fiebre en sí misma generalmente es inofensiva y probablemente útil.
            Las fiebres generalmente no necesitan tratamiento...
        </p>
        <a target="_blank" rel="noopener noreferrer" href="https://www.mayoclinic.org/es-es/first-aid/first-aid-fever/basics/art-20056685" class="btn btn-primary stretched-link">Leer mas..</a>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Fiebre: primeros auxilios</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">
            La fiebre es un aumento de la temperatura corporal.
            Por lo general, es un signo de infección.
            La fiebre en sí misma generalmente es inofensiva y probablemente útil.
            Las fiebres generalmente no necesitan tratamiento...
        </p>
        <a target="_blank" rel="noopener noreferrer" href="https://www.mayoclinic.org/es-es/first-aid/first-aid-fever/basics/art-20056685" class="btn btn-primary stretched-link">Leer mas..</a>
    </div>
</div>