@{
    ViewData["Title"] = "Lista de Familiares";
}
<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombres y apellidos</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Fecha de nacimiento </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0000000001</td>
            <td>Yamith Hernan Coa Medrano</td>
            <td>Hermano</td>
            <td>21-09-2005</td>
        </tr>
        <tr>
            <td>0000000002</td>
            <td>Julian Coa Gonzalez</td>
            <td>Padre</td>
            <td>09-02-1962</td>
        </tr>
        <tr>
            <td>0000000003</td>
            <td>Anastacia Medrano Cordero</td>
            <td>Madre</td>
            <td>22-01-1982</td>
        </tr>
    </tbody>
</table>
<div class="text-center">
    <button type="submit" class="btn btn-primary">Agregar</button>
</div>

